*{
background-color: olive;
}
form{
    text-align: center;
    gap: 20px;
    padding: 110px;
    color: black;
    box-shadow: none;
}
button {
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
button:hover {
    opacity: 0.8;
    color:black;
  }

